{% extends "base.html" %}

{% block content %}

<h1>Työntekijähallinta</h1>
<br>
<br>


{% if user.is_authenticated %}

<div class="container">
  <div class="row">
    <div class="col">
      <select class="form-select" id="kuntaValikko">
        <option value="">Kaikki kunnat</option>
        {% for k in kunnat %}
        <option>{{ k.nimi }}</option>
        {% endfor %}
      
      </select>
    </div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input tyosuhdeInput" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="" checked>
        <label class="form-check-label" for="flexRadioDefault1">Kaikki</label>
      </div>
      <div class="form-check">
        <input class="form-check-input tyosuhdeInput" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="vakituinen" >
        <label class="form-check-label" for="flexRadioDefault2">Vakituinen</label>
      </div>
      <div class="form-check">
        <input class="form-check-input tyosuhdeInput" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="määräaikainen">
        <label class="form-check-label" for="flexRadioDefault3">Määräaikainen</label>
      </div>
    </div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input aikaInput" type="checkbox" value="e" id="entinen" checked>
        <label class="form-check-label" for="entinen">
          Entinen
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input aikaInput" type="checkbox" value="n" id="nykyinen" checked>
        <label class="form-check-label" for="nykyinen">
          Nykyinen
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input aikaInput" type="checkbox" value="t" id="tuleva" checked>
        <label class="form-check-label" for="tuleva">
          Tuleva
        </label>
      </div>
    </div>
  </div>
</div>


  <table id="tTable" class="display table table-striped table-hover" data-t-url="{% url 'hae_t' %}">
    <thead>
      <tr>
        <th scope="col">Sukunimi</th>
        <th scope="col">Etunimi</th>
        <th scope="col">Aloitus pvm</th>
        <th scope="col">Lopetus pvm</th>
        <th scope="col">Työsuhde</th>
        <th scope="col">Työtehtävä</th>
        <th scope="col">Työmaakunta</th>
        <th scope="col">Työkunta</th>
        <th scope="col">Työpiste</th> 
        <th scope="col"></th> 
      </tr>
    </thead>

    
  </table>


<br>
<br>
 
{% else %}
<a class="btn btn-primary" id="nappulaSisaan" href="{% url 'käyttäjät:sisaan'%}">Kirjaudu sisään</a>
{% endif %}
{% endblock content %}    
